<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.AuthorMapper">
  <resultMap id="BaseResultMap" type="com.my.entity.Author">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dynasty" jdbcType="VARCHAR" property="dynasty" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.my.entity.Author">
    <result column="introduction" jdbcType="LONGVARBINARY" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, dynasty
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from author
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from author
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.entity.Author">
    insert into author (id, name, dynasty, 
      introduction)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{dynasty,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.my.entity.Author">
    insert into author
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dynasty != null">
        dynasty,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dynasty != null">
        #{dynasty,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.entity.Author">
    update author
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dynasty != null">
        dynasty = #{dynasty,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.my.entity.Author">
    update author
    set name = #{name,jdbcType=VARCHAR},
      dynasty = #{dynasty,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.entity.Author">
    update author
    set name = #{name,jdbcType=VARCHAR},
      dynasty = #{dynasty,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listAuthors" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from author;

  </select>
</mapper>